# -----------------------
# Java
# -----------------------
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Runtime files
hs_err_pid*
*.pid

# -----------------------
# Maven
# -----------------------
target/
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/timing.properties

# -----------------------
# Gradle (ignore if using Maven)
# -----------------------
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# -----------------------
# IntelliJ IDEA
# -----------------------
.idea/
*.iml
*.iws
*.ipr
out/

# -----------------------
# OS Files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Environment
# -----------------------
.env
.env.local
*.env

# -----------------------
# Others
# -----------------------
node_modules/
.
